<header class="header">
  <div class="header__content">
    <div [routerLink]="'/store/' + businessName" class="header__logo header__logo--name"
      [ngClass]="darkMode ? 'dark' : ''">
      @if(currentTenant().logo) {
      <img class="header__logo-business" [src]="baseLogos + currentTenant().logo + '.webp'" alt="logo business" />
      }@else{
      <i class="pi pi-shop"></i>
      }
      <span *ngIf="is768px && currentTenant()">{{
        currentTenant().business_name
        }}</span>
    </div>
    <div class="header__flex">
      <div class="header__direction">
        <i class="pi pi-map-marker"></i>
        <p>
          <strong class="header__address" *ngIf="currentTenant().address">{{
            currentTenant().address
            }}</strong>
        </p>
      </div>
      <app-search (onDebounce)="getSearchItem($event)" *ngIf="is768px && urlSegments.length > 2"></app-search>
      <app-search-autocomplete *ngIf="is768px && urlSegments.length == 2"></app-search-autocomplete>
      <div class="header__options">
        <app-darkmode class="header__darkmode"></app-darkmode>
        <app-modal-schedule class="header__schedule" />
      </div>
    </div>

    <div [@cartAnimation]="cartStateSignal()" class="header__logo header__fix" [ngClass]="darkMode ? 'dark' : ''"
      (click)="sidebarVisible = true">
      <i class="pi pi-shopping-cart"></i>
      <p>
        {{ totalItemsCart }} Items
        <span class="header__total">${{
          subTotalSignal().toFixed(2) + " " + currentTenant().currency
          }}</span>
      </p>
    </div>
  </div>
  <!-- <app-search (onDebounce)="getSearchItem($event)" *ngIf="!is768px && urlSegments.length > 2"></app-search> -->
  <app-search-autocomplete *ngIf="!is768px && urlSegments.length == 2"></app-search-autocomplete>
</header>

<p-sidebar class="sidebar" [(visible)]="sidebarVisible" [styleClass]="currentWidth > 500 ? 'w-25rem' : 'w-17rem'"
  position="right">
  <ng-template pTemplate="header">
    <span class="font-semibold text-xl">Tu canasta</span>
  </ng-template>
  @if(sendMessage){
  <app-details-order (hiddenDetails)="getEmitDetails($event)"></app-details-order>
  }@else{
  <div class="content-sidebar">
    <div class="carts">
      <div class="cart-item" *ngFor="let cartItem of currentCart()">
        <div class="cart-info">
          <img *ngIf="cartItem.product.image" [src]="baseProducts + cartItem.product.image + '.webp'"
            [alt]="cartItem.product.name" class="shadow-4" />
          <div class="cart-p">
            <p>
              {{ cartItem.product.name }}
              <span *ngIf="cartItem.variant.id != 0" style="font-size: 16px">
                - {{ cartItem.variant.name }}</span>
            </p>
            <p *ngIf="cartItem.additionals.length">
              Adicionales :
              <span *ngFor="let additional of cartItem.additionals">{{
                additional.name + "X" + additional.amount
                }}</span>
            </p>
            <p>
              ${{
              (cartItem.totalCv * cartItem.amount + cartItem.totalAd).toFixed(
              2
              )
              }}
            </p>
          </div>
        </div>
        <div class="cart-edit">
          <i (click)="deleteCartItem(cartItem.id)" class="pi pi-trash" [ngStyle]="{
    'font-size': currentWidth <=400  ? '1rem' : '1.5rem',
    color: 'red'
  }"></i>
          <div class="amount">
            <i (click)="min(cartItem)" class="pi pi-minus" [ngStyle]="{
    'font-size': currentWidth <=400  ? '.5rem' : '1rem',
    color: 'red'
  }"></i>
            <p>{{ cartItem.amount }}</p>
            <i (click)="sum(cartItem)" class="pi pi-plus" [ngStyle]="{
    'font-size': currentWidth <=400  ? '.5rem' : '1rem',
    color: 'red'
  }"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="total">
      @if(!currentCart().length){
      <!-- <p-button label="Aún no tienes productos en tu canasta" [text]="true" [raised]="true" severity="warning" /> -->
      }@else{
      <div class="options-buttons">
        <p-button [disabled]="!isOpen" (click)="sendMessageW()" [label]="
            'Subtotal $' +
            subTotalSignal().toFixed(2) +
            currentTenant().currency
          " icon="pi pi-whatsapp" severity="success"  [style]="{ width: '100%' }" />
        <!-- <p-button  [style]="{ width: '100%' }" (click)="cleanCart()" label="Limpiar Canasta" severity="warning" /> -->
      </div>
      }
    </div>
  </div>
  }
</p-sidebar>

<!-- Modal -->
<div class="modal-overlay" *ngIf="isModalOpen">
  <div class="modal">
    <h2>Estamos Cerrados</h2>
    <p>
      Lo sentimos, nuestro negocio está cerrado en este momento.
      <strong>Nuestro horario de atención lo puedes ver dando click al reloj
        giratorio</strong>.
    </p>
    <p>¡Te esperamos en nuestro próximo horario de apertura!</p>
    <button (click)="closeModal()">Entendido</button>
  </div>
</div>