<form action="" class="form" [formGroup]="formDetails" (ngSubmit)="sendMessage()">
    <div class="direction">
        <!-- severity="warning" -->
        <p-button (click)="getPosition()" label="Agregar Ubicacion Actual" [rounded]="true" 
            icon="pi pi-plus" [disabled]="address().name" class="mb-3" />
        <p-button *ngIf="address().name" [label]="address().name" [text]="true" icon="pi pi-times-circle"
            iconPos="right" (click)="deleteAddress()" />
    </div>
    <div class="field">
        <input id="name" type="text" pInputText formControlName="name" placeholder="Su Nombre" />
    </div>

    <div class="field">
        <label for="phone">Número Telefonico (Seleccione su país)</label>
        <input #phoneInput class="input-phone" type="text" id="phone" formControlName="tel" />
    </div>
    <span *ngIf="isValidField('tel')" class="form-text text-danger">
        <!-- Debe de ser de 3 letras -->
        {{ getFieldError("tel") }}
    </span>
    <span *ngIf="isValidField('country')" class="form-text text-danger">
        <!-- Debe de ser de 3 letras -->
        {{ getFieldError("country") }}
    </span>
    <div class="field" *ngFor="let option of ordersOptions.options">
        <label for="">{{ option.name }}</label>
        <p-dropdown (onChange)="changeOptionCalc(option.name, $event)" [options]="option.details" optionLabel="name"
            [placeholder]="option.name" [formControlName]="option.name">
            <ng-template let-detail pTemplate="item">
                {{ detail.name }}
                {{ detail.extraFee != 0 ? " - Recargo " + "$" + detail.extraFee : "" }}
            </ng-template>
        </p-dropdown>
    </div>
    <div class="field">
        <textarea id="note" rows="5" cols="30" pInputTextarea formControlName="note"
            placeholder="Nota (Opcional)"></textarea>
    </div>
    <div class="card flex justify-content-center gap-2">
        <!-- <p-tag severity="warning" [value]="'Subtotal : ' + '$' + subtotal().toFixed(2)" />
        <p-tag severity="warning" [value]="'Recargo : ' + '$' + extraFeeTotal.toFixed(2)" /> -->
        <p-tag severity="success" [value]="
        'Total : ' +
        '$' +
        (subtotal() + extraFeeTotal).toFixed(2) +
        currentTenant.currency
      " />
    </div>
    <div class="options-buttons">
        <p-button [style]="{ width: '100%' }" type="submit" severity="success" label="Enviar" icon="pi pi-send" />
        <p-button [style]="{ width: '100%' }" (click)="emitEvent()" severity="primary" label="Regresar"
            icon="pi pi-angle-double-left " />
    </div>
</form>